body {
    margin: 0px;
}

header {
    background-image: url(../img/pattern.png);
    background-color: rgb(78 160 255);
    height: 150px;
    margin: 0;
    padding-bottom: 20px;
}

.logo {
    width: 200px;
    padding-top: 100px;
    padding-left: 10px;
}

h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 0;
}

.credits {
    margin-top: 5px;
    color: grey;
    margin-bottom: 0;
}

.grey {
    color: grey;
}

#authors {
    text-decoration: none;
    color: rgb(18 164 227);
}

figure {
    margin-left: 0;
    margin-top: 20px;
}

