body {
    margin: 0;
}

header {
    background-image: url(../img/pattern.png);
    background-color: rgb(78 160 255);
    height: 150px;
    margin: 0;
    padding-bottom: 20px;
}

.logo {
    width: 200px;
    padding-top: 100px;
    padding-left: 10px;
}